* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    --background-color: #f8f5f1;
    --primary-color: #7D5A50;
    --secondary-color: #E5B299;
    --accent-color: #B4846C;
    --text-color: #2d2d2d;
    --white-color: #ffffff;
}

main {
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-color);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    nav {
        height: 10vh;
        width: 100vw;
        background-color: var(--secondary-color);
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            color: var(--text-color);
            font-size: 2rem;
        }
    }

    .planner-container {
        height: 90vh;
        width: 100vw;
        background-color: var(--primary-color);

        .planed-tasks {
            height: 100%;
            width: 60%;
            margin: auto;
            background-color: var(--background-color);
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            .time-block {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
            }

            .hour {
                width: 15%;
                text-align: right;
                padding-right: 10px;
                font-weight: bold;
                color: var(--text-color);
            }

            .description {
                width: 70%;
                padding: 10px;
                border: 1px solid var(--accent-color);
                border-radius: 5px;
                font-size: 1rem;
            }



        }
    }
}