@font-face {
    font-family: 'aeonik';
    font-weight: 900;
    src: url('./font/Aeonik-Bold.ttf');
}

@font-face {
    font-family: 'aeonik';
    font-weight: 600;
    src: url('./font/Aeonik-Regular.ttf');
}

@font-face {
    font-family: 'aeonik';
    font-weight: 200;
    src: url('./font/Aeonik-Regular.ttf');
}

:root {
    --primary-color: #FCDEC0;
    --secondary-color: #E5B299;
    --tertiary-1-color: #B4846C;
    --tertiary-2-color: #7D5A50;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-color);
    font-family: 'aeonik';
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
}

nav {
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: var(--tertiary-1-color);
}

section.allElems {
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    background-color: var(--tertiary-2-color);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;

}

.elem {
    height: 300px;
    width: 220px;
    background-color: var(--secondary-color);
    font-size: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease;
}

.elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.elem h2 {
    font-size: 15px;
    font-weight: 200;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.elem:active {
    scale: 0.95;
}

.fullElem {
    height: 100vh;
    width: 100%;
    background-color: var(--tertiary-2-color);
    padding: 20px;
    font-weight: 600;
    display: none;

}